:root
  --publisher--width: 1024px
  --publisher--nav--height: 193px

  --widget--billboard-width: 1024px

.app[data-publisher="bild"]
  grid-template-columns: 1fr minmax(320px, 1024px) 1fr
  background-color: #fff

  @media screen and (max-width: 1440px)
    grid-template-columns: 0fr minmax(320px, 1024px) 1fr

  .publisher
    background-color: #fff

    &--nav
      background-image: url("../../img/bild-nav.jpg")
      height: 193px
      width: 100%

  // COMPILATION ADS
  &[data-ad-compilation="Bridge Ad"],
  &[data-ad-compilation="Fireplace"]
    .creative
      &--sky
        &-iframe
          width: 120px
          height: 954px
