.app[data-publisher="cobi"]

  .publisher
    padding: 5px
    max-width: 1010px

    &--nav
      background-image: url("../../img/cobi-nav.jpg")
      height: 153px
      width: 100%

  // CUSTOM PUBLISHER BANNER SETTINGS
  .creative
    &--superbanner
      width: 1020px
      height: 120px

    &--billboard
      width: 1020px
      height: 250px
      left: -4px
      top: 5px

    &--sky
      width: 120px
      height: 954px
