:root
    --publisher--width: 1040px
    --publisher--nav-height: 164px
    --publisher--nav-background: #fff
    --publisher--nav-img: url("../../img/techbook/nav.jpg")

.app
    &[data-publisher="techbook"]

        .publisher
            background-color: #fff
            padding: 20px
