:root
  --publisher--width: 970px
  --publisher--logo-img: url("../../img/welt/logo.png")
  --publisher--nav-height: 150px
  --publisher--nav-background: #003a5a
  --publisher--nav-img: url("../../img/welt/nav.jpg")
  --publisher--button--close-img: url("../../img/welt/welt--close.png")
  --publisher--background-color: #edece8

  // MOBILE
  --publisher--mobile--nav-height: 50px
  --publisher--mobile--nav-img: url("../../img/welt/nav--mobile.jpg")
  --publisher--mobile--nav-position: right center
  --publisher--mobile--logo-width: 120px
  --publisher--mobile--logo-size: 72px auto

  // WIDGET BILLBOARD
  --widget--billboard-width: 970px
  --widget--billboard-height: 250px

  // WIDGET SUPERBANNER
  --widget--superbanner-width: 970px
  --widget--superbanner-height: 90px

.app
  &[data-publisher="welt"]
    background-color: #f9f9f8

    .publisher
      max-width: 970px

      &--article
        background-color: var(--publisher--background-color)

  &[data-device="phone"]
    .publisher
      &--nav
        position: sticky
        top: 0
        left: 0
        height: var(--publisher--mobile--nav-height)
        background-image: none

      &--article
        height: 100%

        &:first-child
          margin-bottom: 100%
