:root
  --publisher--width: 970px
  --publisher--nav--height: 150px
  --publisher--nav--background: #003a5a
  --publisher--button--close-image: url("../../img/welt--close.png")

  --widget--billboard-width: 970px
  --widget--billboard-height: 250px

  --widget--superbanner-width: 728px
  --widget--superbanner-height: 90px

.app[data-publisher="welt"]
  background-color: #f9f9f8

  .publisher
    max-width: 970px

    &--nav
      background-image: url("../../img/welt-nav.jpg")
      width: 100%

    &--article
      background-color: #edece8

.app[data-device="phone"]
  .publisher
    &--nav
      position: sticky
      top: 0
      left: 0
      height: 50px
      background-image: none

    &--article
      height: 100%

      &:first-child
        margin-bottom: 100%
