<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creative Solution Manager 2000</title>
  </head>
  <body>
    <ul>
      {{#each htmlWebpackPlugin.options.slugs}}
        <li>
          <a href="{{this}}/index.html" target="_blank">
            {{this}}
          </a>
        </li>
      {{/each}}
    </ul>
  </body>
</html>