.creative {
  position: relative;
  background-color: #fff;
  left: 0;
  top: 0;
  overflow: hidden;

  * {
    //visibility: hidden;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &--admark {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-stretch: condensed;
    font-size: 10px;
    font-smooth: never;
    text-transform: uppercase;
    position: absolute;
    left: 5px;
    top: 5px;
    color: #afafaf;
  }

  // PRELOADER
  &:before {
    content: "";
    width: 40px;
    height: 40px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    position: absolute;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #d4d4d4;
    border-radius: 50%;
    animation: preloader 1s linear infinite;

    @keyframes preloader {
      to {
        transform: rotate(360deg);
      }
    }
  }

  // HIDE PRELOADER IF ANIMATION STARTS
  &--active {
    * {
      //visibility: visible;
    }

    &:before {
      display: none;
    }
  }
}
