{{#equal creative.format.slug "ra"}}
  <div id="flyWrap">
    <a href="javascript:void(0)" target="_blank" id="flyTarget"></a>
  </div>
  <div id="pFADefaultButtons">
    <a id="flyClose"></a>
    <a id="flyOBA" target="_blank"></a>
    <a id="flyBrand" href="http://www.plista.com" target="_blank"></a>
  </div>
{{/equal}}
{{#equal creative.format.slug "bboost"}}
  <div class="creative--grid">
    <div class="creative--grid-sitebar creative--grid-sitebar__left"></div>
    <div class="creative--grid-main"></div>
    <div class="creative--grid-sitebar creative--grid-sitebar__right"></div>
  </div>
{{else}}
  <h1>CSS is awesome</h1>
{{/equal}}