@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;400;600&display=swap')

body
    font-family: 'Epilogue', sans-serif
    font-weight: 400
    font-size: 16px

    h1
        font-weight: 200
        font-size: 2.4rem
        margin: 40px 0
        color: #fff

    h3
        font-size: 1.4rem
        font-weight: 600
        margin: 0 0 0.5rem 0

    p
        &.subline
            color: #282d33
            font-weight: 600
    a
        text-decoration: none
        color: var(--color--primary)
